*.o
test
core
*.so
*.a
nbproject/
*.m4
autom4te.cache
install-sh
compile
missing
*.in
depcomp
*.status
*.log
Makefile
configure
src/.deps/
ar-lib
$(SRC_DIR)/
.deps/
.libs/
bootstrap
config.guess
config.sub
liblist.la
libtool
ltmain.sh
src/.dirstamp
src/list.lo

